body {
    font-family: 'Montserrat';font-size: 22px;
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}

button:hover {
    border-radius: 5px;
    background: black;
    color: white;
}

button {
    border-radius: 5px;
    background: white;
    color: black;
    transition-duration: 0.2s;
}